/* 
font-family: 'Creepster', cursive;
font-family: 'Gentium Book Basic', serif;
font-family: 'Source Code Pro', monospace; 
*/

:root {
    --purp: rgb(201, 74, 255);
    color: var(--purp);
    --grey-color: rgb(51, 51, 51);
    background-color: var(--grey-color);

}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, auto);
    grid-template-rows:auto;

    grid-template-areas:
    "header header header"
    "cards cards cards "
    "foot foot foot"
}

header {
    text-align: center;
    grid-area: header;
}

footer {
    text-align: center;
    grid-area: foot;
}

header p {
    margin-bottom: 35px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: cards;
}

.card {
    border: 1px dashed white;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    /* border-radius: 10%; */
    margin: 25px 10px;
}

.card p {
    margin-left: 10px;;
    margin-right: 10px;
}

h2 {
    border: 2px solid white;
    border-radius: 5px;
    position: relative;
    width: fit-content;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--grey-color);
    text-align: center;
    display: inline-block;
    padding: 2px 15px;
}

pre {
    border-radius: 5px;
    background-image: linear-gradient(
        rgb(0, 0, 0) 10%,
        var(--purp) 100%
    );
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

